<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.atsistemas.curso"/>

	<bean id="otroServicio" class="com.atsistemas.curso.Servicio">
		<property name="dao" ref="dao"></property>
		<property name="otro" ref="dao"></property>
		
	</bean>

	<bean id="servicio" class="com.atsistemas.curso.Servicio">
		<constructor-arg name="dao" ref="dao" />
		<constructor-arg name="otro" ref="dao"/>
	</bean>

	<bean id="dao" class="com.atsistemas.curso.MemoriaPersonaDao"></bean>




</beans>
