<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:config>
		<aop:pointcut expression="execution(* *.*.*(..)) throws java.lang.Exception" id="TodasExcepciones"/>
		<aop:pointcut expression="execution(* com.atsistemas.curso.MiServicio.metodoInterceptado(java.lang.String)) &amp;&amp; args(n)" id="concreto"/>
		<aop:pointcut expression="execution(* com.atsistemas.curso.MiServicio.metodoInterceptado(java.lang.String))" id="retorno"/>
		
		<aop:aspect ref="aspecto">
<!-- 			<aop:before method="antesDelTarget" pointcut-ref="concreto" arg-names="n"/> -->
<!-- 			<aop:after method="despuesDelTarget" pointcut-ref="concreto" arg-names="n"/> -->
<!-- 			<aop:after-returning method="despuesDelTargetFiltrandoElResultado" pointcut-ref="retorno" returning="retorno"/> -->
<!-- 			<aop:around method="duranteElTarget" pointcut-ref="retorno"/> -->
		</aop:aspect>
		<aop:aspect>
			<aop:declare-parents 
				types-matching="com.atsistemas.curso.Servicio+" 
				implement-interface="com.atsistemas.curso.Extension"
				default-impl="com.atsistemas.curso.ExtensionImpl"/>
		</aop:aspect>
	</aop:config>

	<bean id="aspecto" class="com.atsistemas.curso.Aspecto"></bean>
	
	<bean class="com.atsistemas.curso.MiServicio"></bean>

</beans>
