<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dios" class="com.atsistemas.curso.Dios" 
						factory-method="getInstance"/>
						
	<bean id="asiatico" class="com.atsistemas.curso.Hombre" 
		factory-bean="dios" 
		factory-method="frabicarAsiatico"
		scope="prototype"></bean>

	<bean id="europeo" class="com.atsistemas.curso.Hombre" 
		factory-bean="dios" 
		factory-method="frabicarEuropeo"
		scope="prototype"></bean>

</beans>
